<style>
    body {
        background: #0F2027;  
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
      }

    /*#mainbreak {
        height: 800;
        width: 100%;
        margin-top: 200px;
        background: #8E2DE2;
        /* fallback for old browsers 
        /* background: -webkit-linear-gradient(to right, #556b67, #7f9b96);
        /* Chrome 10-25, Safari 5.1-6 
        /* background: linear-gradient(to right, #556b67, #7f9b96);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    }*/

    /*#mainLoginArea {
        margin: auto;
        height: 400px;
        width: 500px;
    }*/
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">

                        <!-- form card login -->
                        <div class="card rounded shadow shadow-sm">
                            <div class="card-header">
                                <h2 class="mb-0">Acceso Denegado<span class="badge badge-secondary"></span>
                                </h2>
                            </div>
                            <div class="card-body">
                                    <div class="form-group">
                                        <label for="VolverLogin">No tiene permisos para ver esto, por favor vuelva al Login</label>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-success btn-group btn" href="/">Volver</a>
                                </div>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->

                    </div>


                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container
    <div id="mainBreak">
        <div id="mainLoginArea">
            <h2>Módulo de Inventario <span class="badge badge-secondary">Beta</span></h2>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario:</label>
                    <input type="text" class="form-control" name="Username" aria-label="Usuario" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña:</label>
                    <input type="text" class="form-control" name="Password" aria-label="Usuario"
                        placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </div>-->
</body>

